
.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 22px;
    // margin-left: auto;
    // margin-right: auto;
    
}

.convWrapp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 22px;
    color: inherit;
}
.dateWrapp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 22px;
    color: inherit;
}




.date {
    position: relative;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
    // margin-right: 30px;
    margin-left: 10px;
}

