
.app {
  /* margin: 0 auto; */
  max-width: 800px;
}

.box {
  background-color: royalblue;
  margin-top: 0px;
  height: 100px;
}

.appContainer {
  font-family: Futura PT Book;
  padding: 0px;
 
}

.crumbBox {
  position: fixed;
  // position: relative;
  width: 100%;
  border-top: 2px solid #f0f2f5;
  margin-top: 80px; 
  // left: 0;
  padding-left: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  // margin-bottom: -70;
  z-index: 777 ;
  background-color: white;
}

/* @media (min-width: 576px) and (max-width: 1280px)  {
    
  .appContainer {
    padding: 0px 20px;
   
  }
  }
  @media (max-width: 768px)  {
    
    .appContainer {
       padding: 0px 0px;
     
    }
    }
       */