.blockMain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  background-color: white;
  width: 100%;
  padding: 40px;
}
.row2,
.row3,
.row4,
.row5,
.category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.specialization {
  width: auto;
  height: auto;
}
.title,
.title2 {
  font-size: 28px;
  font-weight: 450;
  line-height: 36px;
}
.occupation,
.subtitle {
  font-size: 20px;
  font-weight: 450;
  line-height: 26px;
}
.row1,
.subrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.subrow {
  white-space: nowrap;
  flex-wrap: wrap;
}
.comment,
.comment2,
.experience,
.facetype,
.serviceContainer,
.subrow1,
.btnLink,
.message,
.subtitleX,
.percent,
.feedbackNum,
.lookAll {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.comment,
.comment2 {
  color: darkgrey;
}
.experience,
.facetype {
  margin-left: 10px;
}
.human {
  width: 20px;
  height: 20px;
  margin-left: 28px;
}
.category {
  margin-top: 18px;
}
.title2 {
  height: 36px;
  padding-top: 20px;
}
.space {
  height: 15px;
}
.lawType {
  width: fit-content;
  height: auto;
  background-color: #F5F6F7;
  border-radius: 15px;
  padding: 3px 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.row2 {
  margin-top: 53px;
}
.comment2 {
  margin-top: 25px ;
}
.personalInfo {
  white-space: normal;
  max-width: 620px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.row3,
.row4 {
  margin-top: 50px;
}
.serviceContainer {
  width: 100%;
  white-space: normal;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: max-content;
  gap: 25px;
}
.educationContainer {
  display: flex;
  flex-wrap: wrap;
}
.education1,
.education2,
.education3 {
  min-height: 150px;
  width: 400px;
  padding: 15px;
  margin: 30px 30px 0 0;
  background-color: #F5F6F7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.subrow1 {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  color: darkgrey;
  align-content: center;
}
.circleDivider {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: darkgrey;
  margin-top: 10px;
}
.circleDivider,
.univercitySpec1,
.univercitySpec2,
.year {
  margin-left: 10px;
}
.row5 {
  width: 100%;
  margin-top: 46px;
  padding-bottom: 45px;
}
.withArrows {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.arrowCircle1,
.arrowCircle2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EAEFF6;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
.arrowCircle1:focus,
.arrowCircle2:focus {
  outline: none;
}
.arrowCircle1:hover,
.arrowCircle2:hover {
  background-color: #C0E9FD;
}
.arrowCircle1:disabled,
.arrowCircle2:disabled {
  background-color: #EAEFF6;
  opacity: 0.5;
}
.arrowCircle1 {
  margin-left: 551px;
}
.arrowCircle2 {
  margin-left: 20px;
}
.arrowLeft,
.arrowRight {
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-left: 14px;
}
.docsContainer {
  display: grid;
  grid-template-columns: 217px auto auto auto;
  grid-template-rows: 307px;
  gap: 30px;
  margin-top: 20px;
}
.doc {
  background-color: darkgrey;
  border-radius: 10px;
  width: 217px;
  height: 307px;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.diplomImg {
  width: 217px;
  height: 307px;
  border-radius: 10px;
}
.button {
  margin-left: 100px;
  margin-top: 50px;
  width: auto;
}
.projectBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  border-radius: 4px;
  background-color: #0066ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btnLink {
  text-decoration: none;
  color: white;
  font-weight: 450;
}
.plus {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
.speech {
  margin-left: 21px;
  width: 20px;
  height: 20px;
  margin-top: 25px;
}
.message {
  margin-left: 15px;
  margin-top: 25px;
  text-decoration: none;
  color: #0066FF;
  font-weight: 450;
}
.ratingCup {
  margin-top: 83px;
  width: 320px;
  height: 166px;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.firstContainer {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 45px;
}
.cupX,
.redStarX {
  width: 30px;
  height: 30px;
}
.cupNum {
  margin-top: 3px;
  font-size: 24px;
  line-height: 31px;
}
.cupBig {
  align-self: flex-end;
  border-radius: 0 0 10px 0;
}
.blockFeedback {
  margin-top: 40px;
  width: 320px;
  height: auto;
  padding-bottom: 45px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -10px 20px 10px 0px #f3f5f6;
}
.feedbackWrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 40px 0 40px;
}
.redStarX {
  margin-left: 64px;
}
.ratingX {
  font-size: 24px;
  font-weight: 450;
  line-height: 31px;
  margin-left: 10px;
}
.greyDivider {
  position: relative;
  width: 178px;
  height: 3px;
  background-color: #eaeff6;
  margin-left: 10px;
  margin-right: 10px;
}
.blueLine {
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #0066ff;
}
.feedbackNum,
.lookAll {
  margin-top: 20px;
}
.feedbackNum {
  color: darkgrey;
}
.lookAll {
  text-decoration: none;
  color: #0066ff;
  font-weight: 450;
}
.subrowX {
  justify-content: space-between;
}
.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 100px;
  background-color: #FCD456;
  color: #fff;
  font: inherit;
  font-size: 100px;
  font-weight: 600;
}
.nonActive {
  display: none;
}
.blockImg {
  position: relative;
  /* margin-top: 35px; */
}
