.littleCard {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    position: absolute;
    min-height: 100px;
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
   // box-shadow: 0 0 2px #666;
    z-index: 1;
}

.gridElement {
    /* display: block;
    grid-area: 1 / 1 / span 1 / span 5;
    margin-top: 3%;
    width: 100%;
    white-space: nowrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}